@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

nav {
  background-color: #2c3e50;
  display: flex;
  padding: 10px 20px; }
  nav h1 {
    font-size: 30px;
    transition: all 0.1s ease-in-out; }
  nav h1:hover {
    font-size: 35px; }
  nav ul {
    list-style-type: none; }
  nav ul#links {
    display: flex;
    flex: 1 1 0;
    justify-content: flex-end; }
    nav ul#links li {
      margin-left: 15px;
      display: flex;
      flex: 0 0 10%;
      list-style-type: none;
      background-color: #2ecc71;
      border-radius: 2px;
      transition: all 0.07s ease-in-out; }
    nav ul#links li:hover {
      background-color: rgba(12, 206, 107, 0.9); }
      nav ul#links li:hover a {
        color: #ffffff; }
  nav a {
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    color: #eeeeee;
    font-weight: bold;
    display: block;
    align-self: center; }

#hero {
  background-color: #577ECB;
  text-align: center;
  vertical-align: middle;
  line-height: 70px; }
  #hero h1 {
    color: #ffffff;
    font-size: 50px; }
  #hero p {
    font-size: 25px;
    color: #cccccc; }
  #hero img {
    width: 100%; }

hr {
  width: 65%;
  margin: 0 auto; }

#about {
  text-align: center;
  vertical-align: middle;
  background: #eeeeee;
  padding: 40px 0; }
  #about h2 {
    color: #16a085;
    font-size: 60px;
    font-weight: 100; }
  #about hr {
    border-color: #333333;
    opacity: 0.3; }
  #about div {
    flex: 1 1 33.33%; }
  #about section {
    display: flex;
    width: 65%;
    margin: 40px auto; }
  #about p {
    color: #333333;
    font-size: 15px;
    text-align: left; }
  #about #quotes {
    display: flex;
    flex-flow: column; }
    #about #quotes blockquote {
      flex: 1 1 0;
      color: #333333;
      font-size: 18px;
      font-weight: 100; }
  #about #profile img {
    border-radius: 100%;
    width: 80%;
    margin: 0 auto;
    border: 10px solid #16a085; }

#skills, #tools {
  text-align: center;
  vertical-align: middle;
  background: #2c3e50;
  padding: 40px 0; }
  #skills h2, #tools h2 {
    color: #16a085;
    font-size: 60px;
    font-weight: 100; }
  #skills hr, #tools hr {
    border-color: #ffffff;
    opacity: 0.5; }
  #skills section, #tools section {
    display: flex;
    width: 65%;
    margin: 40px auto; }
  #skills div.column, #tools div.column {
    flex: 1 1 50%; }
  #skills div.item, #tools div.item {
    height: 40px;
    display: flex;
    padding: 10px;
    color: #ffffff;
    transition: all 0.1s ease-in-out; }
    #skills div.item span.title, #tools div.item span.title {
      text-align: left;
      flex: 2 1 0;
      line-height: 40px;
      font-size: 20px; }
    #skills div.item span.stars, #tools div.item span.stars {
      display: flex;
      justify-content: space-between;
      flex: 1 1 0; }
      #skills div.item span.stars img, #tools div.item span.stars img {
        flex: 1 1 0; }
  #skills div.item:hover, #tools div.item:hover {
    background: #47beff; }

#education, #certification {
  text-align: center;
  vertical-align: middle;
  background: #eeeeee;
  padding: 40px 0; }
  #education h2, #certification h2 {
    color: #16a085;
    font-size: 60px;
    font-weight: 100; }
  #education hr, #certification hr {
    border-color: #333333;
    opacity: 0.3; }
  #education section, #certification section {
    text-align: left;
    width: 65%;
    margin: 40px auto; }
  #education .education, #certification .education {
    padding: 15px;
    border-left: 5px solid #16a085; }
  #education .content, #certification .content {
    background: #1abc9c;
    font-size: 20px;
    color: #ffffff;
    padding: 5px;
    margin-top: 10px;
    border-bottom: 5px solid #16a085; }

#projects {
  text-align: center;
  vertical-align: middle;
  background: #222222;
  padding: 40px 0; }
  #projects h2 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 100; }
  #projects hr {
    border-color: #ffffff;
    opacity: 0.3; }
  #projects section {
    text-align: left;
    width: 65%;
    margin: 40px auto; }
    #projects section .project {
      flex: 0 0 25%; }
      #projects section .project img {
        width: 100%; }

#contact {
  text-align: center;
  vertical-align: middle;
  background: #eeeeee;
  padding: 40px 0; }
  #contact h2 {
    color: #16a085;
    font-size: 60px;
    font-weight: 100; }
  #contact hr {
    border-color: #333333;
    opacity: 0.3; }
