// Fonts
@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// Colors
$darkBlue: #2c3e50;
$darkGreen: #18bb9c;
$lightBlue: #47beff;
$gray: #cccccc;
$offWhite: #eeeeee;
$white: #ffffff;
$lightGreen: #0CCE6B;

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#header{
    background-color: #2c3e50;
    width: 96%;
    height: 100%;
    padding: 15px 2%;
    margin: 0;

    li {
        list-style-type: none;
        height: 30px;
        line-height: 30px;
        float: right;
        background-color: $lightGreen;
        padding: 10px 10px;
        margin: 0 10px;
        border-radius: 2px;
    }
    #logo{
        float: left;
        background-color: transparent;
    }
    a {
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
    }
}

#header::after {
    display: block;
    content: "";
    clear: both;
}

#hero {
    background-color: #577ECB;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;

    h1{
        color: $white;
        font-size: 50px;
    }
    p{
        font-size: 25px;
        color: $gray;
    }
    img{
        width: 100%;
    }
}

#profile {
    border-radius: 100%;
    border: 10px solid $darkBlue;
    width: 90%;
}

#about{
    text-align: center;
    vertical-align: middle;
}

.row{
    display: table-row;
}

.section{
    display: table-cell;
    width: 25%;
}
